html, body {
    min-height: 100%;
    background: #FFD200;
    color: #000;
}

header {
    padding-bottom: 3rem;
    text-align: center;
}
#main {
    display: flex;
}

div.brewcard {
    border: 5px solid black;
}

div.brewcard .brewname {
    font-size: 1.4rem;
    font-weight: bold;
}