html {
    height: 100%;
}

body {
    min-height: 100vh;
    color: #000;
    background: #ffd200;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.031rem;
}

header a {
    text-decoration: none;
    color: #000;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-bottom: 3rem;
    text-align: center;
    background: #ffd200;
}

h1#heading {
    font-size: 3.125rem;
}

#main {
    position: relative;
}

#results {
    margin-top: 255px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 10px;
}

#results h1 {
    margin: 0 auto;
}

div.brewcard {
    border: 5px solid black;
    border-radius: 25px;
    position: relative;
}

div.brewcard .brewname {
    font-size: 1.4rem;
    font-weight: bold;
}

.dist {
    font-weight: bold;
    background-color: inherit;
    width: 277.5px;
    position: absolute;
    bottom: 15px;
    left: 138.75px;
}